body, html {
     	
background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(https://images.unsplash.com/photo-1528884089-4582fe06c516?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
    /* background-size: cover; */
    background-position: center; 
	background-repeat: no-repeat;	
	background-size: 100% 100%;	
	text-align: center;	
}

.container {
	padding: 0;
	margin-bottom: 0;
}

/* HOME PAGE */

 .rounded-circle{	 
     border: 1px solid #F09819;
     border-radius: 30%;  
     width: 130px;
     height: 130px;
     color: #F09819;  
	 margin-top: 10px;
 }

.birthday-day {
	margin-top: 0;
	font-size: 4em;
	font-family: 'Merriweather', serif;
	font-weight: 700;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}
.birthday-month {
	font-size: 2.5em;
	font-family: 'Lato', sans-serif;
}

.birthday-person {
	/* font-weight: 700; */
	font-size: 10em;
	color: #F09819; 
	font-family: 'Sacramento', cursive;	
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
    }

h1 {	
	margin-top: 0;
	font-size: 5em;
	color: #F09819; 
	font-family: 'Lato', sans-serif;	   
    }

h2 {	
	margin-top: 0;
	font-size: 3.5em;
	color: #F09819; 
	font-family: 'Lato', sans-serif;	   
    }

.gift-img {
	color: #F09819;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
	
    }

a .gift-img  {	
	margin: 0 auto 30px;
    }

/* HEADER */

#mainNavbar {
	opacity: 0.6;
	padding: 0.75%;
	margin-bottom: 10px;
	}

#mainNavbar .navbar-brand {    		
	font-size: 3em;	
	font-family: 'Sacramento', cursive;	
	}

#mainNavbar .confetti-nav {
	width: 5%;
    }


#footer {
	opacity: 0.5;
	font-size: 1.5em;
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; 	
    text-align: center;
	}








