
     
<!-- Footer -->

       <footer id="footer">
           <div class="container-fluid text-center small">            
	         	<p class="text-muted"> 祝你好运  2020 | <a href="/">Home</a>  </p>		  
	       </div>    
       </footer>

    </div>
    
     

      </body>
</html>