<DOCTYPE! html>
	<html>
		<head>
			<meta charset="utf-8">
		    <meta http-equiv="X-UA-Compatible" content="IE=edge">
			<!-- Make site responsive on mobile/tablet -->
            <meta name="viewport" content="width=device-width, initial-scale=1">
			<title>
				祝你好运 
			</title>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">			
			<link rel="stylesheet" href="/stylesheets/main.css">
			<!-- Font awesome -->            
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
			<!-- Google Fonts --> 
			<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather&family=Sacramento&display=swap" rel="stylesheet">
		</head>
		
		<body>			
			
				<!-- NAVBAR		 -->
				<nav id="mainNavbar" class="navbar navbar-default">
                    <div class="container">
                        <div class="navbar-header">
						  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                               <span class="sr-only">Toggle navigation</span>
                               <span class="icon-bar"></span>
                               <span class="icon-bar"></span>
                               <span class="icon-bar"></span>
                          </button>
                              <a class="navbar-brand" href="/">Birthday Event </a>
							  <img class="confetti-nav pull-left" src="https://image.flaticon.com/icons/png/512/864/864763.png" alt="confetti-nav">
                        </div>
						<div id="navbar" class="collapse navbar-collapse">
	                      <ul class="nav navbar-nav navbar-right">
		                    <li><a href="/register">Sign Up  <i class="fa fa-user-plus"></i></a></li>
                            <li><a href="/login">Login  <i class="fa fa-user"></i></a></li>
                            <li><a href="/logout">Logout <i class="fas fa-sign-out-alt"></i></a></li>
	                      </ul>
                        </div>
                    </div>
                </nav>				
			
			
		<div class="container">
           <% if(error && error.length > 0){ %>
               <div class="alert alert-danger" role="alert">
                   <a href="#" class="alert-link"> <%= error %> </a>
               </div>	
           <% } %>
           <% if(success && success.length > 0){ %>
               <div class="alert alert-success" role="alert">
                   <a href="#" class="alert-link"> <%= success %> </a>
               </div>
            <% } %>
         </div>
     
			